<VirtualHost *:80>
	ServerName {{ vhost_servername }}
	DocumentRoot {{ app_dir }}/wordpress/
	<Directory {{ app_dir }}/wordpress/>
		AllowOverride All
		Require all granted
	</Directory>
</VirtualHost>